@media only screen and (max-width:360px)
{
    .img_adjust{
        width: 100%;
       
    }
    .header{
        padding: 15px;
        margin-left: -24px;
    }
    .aboutself
    {
        padding-left:15px;
    }
    
    
}
@media only screen and (max-width:426px)
{
    tr,th{
        padding: 0;
        margin: 0;
    }
    
}
@media only screen and (max-width:450px)
{
    *{
        font-size: 0.7rem;
    }
    .img-adjust{
        margin-top: 10%;
    }
}
@media only screen and (max-width:1024px)
{
    .container{
        padding: 0;
    }
    .para,p,.heading{
        text-align: justify;
        padding: 5px;
    }
}